<div class="img-w-bg w-full lg:w-5/12">
    <div class="content-wrapper">
        <div class="blob"></div>
        <div class="img-wrapper">
            <img src="" alt="">
        </div>
    </div>
</div>
<div class="text w-full lg:w-7/12">
    <div class="content-wrapper">
        <p>
            A children's book with 51 illustrated stories that celebrate extraordinary women from
            India including artists, scientists, healers, entrepreneurs, politicians, rocket women
            of India, women in sports and a commando trainer. This book is about changing the
            narrative of storytelling, from fairy tales that have gender stereotypes with female
            characters portrayed as damsels in distress to stories of real women role models. The
            stories are complemented with beautiful artworks by 51 leading and aspiring women
            artists who have each represented the role models in their styles and in diverse mediums
            like fabric, paper, oils etc.
        </p>
        <div class="secondary-button">
            Buy Now
        </div>
    </div>
</div>