#explore {

  .blob svg path {
    fill: $c-a1;
  }

  .book {
    img.book-img {
      position: relative;
      left: -30px;
    }

    .text-btn {
      color: $c-black;
      font-weight: normal;

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
    .book-testimonials {
      //.quote-content {
      //  max-width: 700px;
      //  margin: 0 auto;
      //  text-align: center;
      //}
    }
    .flex-wrapper {
      text-align: center;
    }
     .book-link {
      display: inline-block;
      margin: 0;

    }

  }
  .preview {
    padding: 20px 30px;
    .book-menu {
      padding: 20px;
    }
  }
}