#explore {

  .blob svg path {
    fill: $c-a1;
  }

  .book {
    img.book-img {
      position: relative;
      left: -30px;
    }

    .text-btn {
      color: $c-black;
      font-weight: normal;

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
    .book-testimonials {

    }
    .flex-wrapper {
      text-align: center;
    }
     .book-link, .preview-link {
      display: inline-block;
      margin: 0;

       &.active {
         font-weight: bold;
         border-bottom: 3px solid $c-primary;
       }

    }

  }
  .preview {
    padding: 20px 30px;
    .book-menu {
      padding: 20px;
    }
  }
}