@import 'explore';
@import 'voice';
@import 'experience';
@import 'about';
@import 'partners';

.section-wrapper {
  padding: 40px 0;

  .video {
    position: relative;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;

      z-index: 1500;

      h5 {
        color: white;
        opacity:0.6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.61);

        h5 {

          opacity: 1;
        }
      }


    }
  }
}

.video-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3000;

  .close-btn {
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    img {
      height: 25px;
      width: 25px;
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  .video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    iframe {
      width: 100vw;
      height: 600px;

      @media(min-width: 1280px) {
        width: 1280px;
        height: 720px;
        margin: 0 auto;
      }
    }
  }

}

//header
header {
  margin-top: 89px;
}
#header {

  .header-text {
    background: rgba(255, 255, 255, 0.7);
    padding: 0 20px;
  }
  .section-wrapper {

    padding: 0;
    //background-color: $c-ll-gray;
    .top-section {
      .content-wrapper {
        padding: 100px 150px;
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}


.section-intro {
  padding: 40px 0;
    .title {
      position: relative;
      margin-bottom: 20px;
      h2 {
        position: relative;
        z-index: 1000;
      }
      .blob {
        svg {
          max-height: 130px;
          max-width: 130px;
        }
        position: absolute;
        left: -50px;
        z-index: -500;
        top: -40px;
      }
    }

  .quote h3{
    margin: 15px 0 15px;
    &:before {
      content: '"';
      position: absolute;
      margin-left: -.5em;
    }
    &:after {
      content: '"';
    }
  }

  .desc {
    .hl {
      opacity: 0.7;
    }
  }

  .video {
    margin: 20px 0;
  }
}
