#partners {
    .partners-desc {
      h4.h5 {
        margin: 0.75em auto;
      }
      .partner {
        padding: 10px 25px;

        .description {
          letter-spacing: -0.013em;
          font-size: 14px;
        }
      }
      text-align: center;
      .icon {
        max-width: 150px;
        margin: 0 auto;
      }
    }

  .partner-group-title {
    padding: 20px 0;
  }
}