#partners {
    .partners-desc {
      h4.h5 {
        margin: 0.75em auto;
      }
      .partner {
        padding: 10px 30px;
      }
      text-align: center;
      .icon {
        max-width: 150px;
        margin: 0 auto;
      }
    }
}