#form-page {
  background: $c-ll-gray;
  min-height: 100vh;

  ul.form-menu-list li {
    font-size:1.333em;
    display: block;
    margin: 12px 0;
    &:hover {
      font-weight: bold;
    }
  }

  input {
    width: 100%;
  }

  .field {
    margin: 20px 0;
  }

  .menu {
    padding: 30px;
  }

  .form-wrapper .form-card {
    background: white;
    border-radius: 6px;
    box-shadow: 0 20px 32px -4px rgba(3,10,28,0.2);
    border-top: 12px solid rgb(217, 72, 72);
    min-height: 600px;
    padding: 30px;
  }
}