#form-page {
  background: $c-ll-gray;
  min-height: 100vh;

  .form-menu-logo {
    margin-bottom: 20px;
    .logo {
      max-width: 200px;
    }
  }

  h5 {
    margin: 40px 0 20px 0;
  }

  ul.form-menu-list li {
    font-size:1.333em;
    display: block;
    margin: 12px 0;
    &:hover {
      font-weight: bold;
    }
  }

  input[type='text'], input[type='number']{
    width: 100%;
  }

  input[type="radio"] {
    width: auto;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  input[type="checkbox"] {
    position: relative;
    top: 6px;

  }

  select.ui.dropdown {
    height: auto;
  }

  .field {
    margin: 20px 0;
  }

  .menu {
    padding: 30px;
  }

  .page-form {
    h4 {
      font-weight: bold;
    }

  }

  .form-wrapper .form-card {
    background: white;
    border-radius: 6px;
    box-shadow: 0 20px 32px -4px rgba(3,10,28,0.2);
    border-top: 12px solid rgb(217, 72, 72);
    min-height: 600px;
    padding: 30px;
    margin-bottom: 40px;
  }
}