.header-bg {
  background: url('/static/backgrounds/headerbg.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  @media (min-width: 960px) {
    background: url('/static/backgrounds/headerbg.png') center center/cover no-repeat fixed padding-box border-box #ccc;
  }


}

#partners .section-wrapper {
  background: url('/static/backgrounds/connect.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  @media (min-width: 960px) {
    background: url('/static/backgrounds/connect.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  }
}




#explore {
  .section-intro .video {
    background: url('/static/explore/section_header.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  }

  .low-cost .img-wrapper {
    background: url('/static/explore/section_header.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  }

}

#voice {
  .section-intro .video {
    background: url('/static/voice/section_header.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  }
}

#experience {
  .section-intro .video {
    background: url('/static/experience/section_header.jpg') center center/cover no-repeat scroll padding-box border-box #ccc;
  }
}


//Social Posts
#social .ig-block {
  .flex .ig-post:nth-of-type(1) {
    .ig-post-wrapper {
      background: url('/static/social/ig1.png') center center/cover no-repeat scroll padding-box border-box #ccc;
    }
  }
  .flex .ig-post:nth-of-type(2) {
    .ig-post-wrapper {
      background: url('/static/social/ig2.png') center center/cover no-repeat scroll padding-box border-box #ccc;
    }
  }
  .flex .ig-post:nth-of-type(3) {
    .ig-post-wrapper {
      background: url('/static/social/ig3.png') center center/cover no-repeat scroll padding-box border-box #ccc;
    }
  }
  .flex .ig-post:nth-of-type(4) {
    .ig-post-wrapper {
      background: url('/static/social/ig4.png') center center/cover no-repeat scroll padding-box border-box #ccc;
    }
  }
}

//Team
#team-list {
  .flex .team-member:nth-of-type(1) {
    .img-container {
      background: url('/static/about/reema.png') center center/cover no-repeat scroll padding-box border-box #ccc;
    }
  }

  .flex .team-member:nth-of-type(2) {
    .img-container {
      background: url('/static/about/sarada.png') center center/cover no-repeat scroll padding-box border-box #ccc;
    }
  }

  .flex .team-member:nth-of-type(3) {
    .img-container {
      background: url('/static/about/lakshmi.png') center center/cover no-repeat scroll padding-box border-box #ccc;
    }
  }
}
