.header-bg {
  background: url('/static/backgrounds/headerbg.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  @media (min-width: 960px) {
    background: url('/static/backgrounds/headerbg.png') center center/cover no-repeat fixed padding-box border-box #ccc;
  }


}

#partners .section-wrapper {
  background: url('/static/backgrounds/connect.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  @media (min-width: 960px) {
    background: url('/static/backgrounds/connect.png') center center/cover no-repeat scroll padding-box border-box #ccc;
  }

}