
@media (max-width: 768px) {
  .mb-hidden {
    display: none;
  }

  .header-bg .content-wrapper {
    padding: 100px 70px !important;
  }

  .site-description {
    h3 {
      font-size: 1.333em;
      line-height: 1.5;

    }
  }

  .nav-wrapper .nav-link{
    font-size: 1em !important;
    margin-right: 35px !important;
  }

  #voice {
    .topic-statement {
      h4 {
        font-size: 1em !important;
      }
    }
  }
}


/* Small (sm) */
@media (min-width: 640px) {

}

/* Medium (md) */
@media (min-width: 768px) {
  .mb-hidden {
    display: block !important;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {

  .lg-hidden {
    display: none;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {

}

//Responsive Iframe

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}