.modal-wrapper {
  height:100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.11);
  z-index: 3000;

  .modal-container {
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 0;
    box-shadow: 0 20px 32px -4px rgba(3,10,28,0.2);
    border-top: 12px solid rgb(217, 72, 72);
    border-radius: 6px;
    min-height: 400px;
  }

  .content-wrapper {
    width: 100%;
    @media (min-width: 768px) {
      width: 768px;
    }
    max-height: 420px;
    overflow-y: scroll;
  }
  .modal-content {


  }
  .close-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    top: -10px;
    right: -10px;
    padding: 10px;
    opacity:0.5;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
