#main-nav {
  .nav-wrapper {
    padding: 30px 40px;
    .std-btn {
      margin:0;
    }



    .nav-link {
      font-size: 1.333em;
      font-weight: bold;
      letter-spacing: -0.03em;
      color: $c-black;
      display: inline-block;
      position: relative;
      margin-right: 40px;
      transition: all 0.2s ease-in-out;

      &#explore-link {
        .blob svg path {
          fill: $c-a1;
        }

        &:hover {
          svg path {
            fill: $c-a1;
          }
        }
      }

      &#voice-link {
        .blob svg path {
          fill: $c-a2;
        }

        &:hover {
          svg path {
            fill: $c-a2;
          }
        }
      }

      &#experience-link {
        .blob svg path {
          fill: $c-a3;
        }

        &:hover {
          svg path {
            fill: $c-a3;
          }
        }
      }

      &:hover {
        svg path {
          fill: $c-primary;
        }
      }

      .text {
        position: relative;
        z-index: 1000;
      }
      .blob {
        position: absolute;
        z-index: 500;
        left: -17px;
        top: -8px;
        bottom: 0;
        svg {
          max-width: 40px;
          max-height: 46px;
          path {
            //fill: $c-primary;
          }
        }
      }
    }
  }

}

//footer
footer {
  padding: 50px 0;
  background: $c-l-gray;


  .footer-link {
    color: $c-black;
  }

  .social-list {
    .social-icon img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}