.testimonials {
  .testimonial {
    margin: 35px 0 50px;

    .sign {
      margin-top: 12px;
    }
  }
}

.about-partners {
  .partner-block {
    margin: 35px 0 50px;
    .logo {
      margin-bottom: 12px;
    }
  }
}